/* App.css */

.app-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    flex: 1;
    /* grid-template-rows: auto 1fr auto; */
    align-items: center;
    grid-template-rows: auto minmax(0, 1fr) auto;
    min-height: 0;
}

header, footer {
    padding: 10px;
}