/* ContentBlock.css */

/* .content-block {
    background-color: white;

    height: 100%;

    margin: 60px;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
} */