/* NavButtons.css */

.nav-buttons {
    display: flex;
    align-items: center;
    padding: 30px 90px;
    justify-content: space-between;
}

.nav-buttons button {
    background-color: white;
    color: black;
    border-radius: 25px;
    height: 40px;
    width: 120px;
    font-size: large;
}

.nav-buttons button:hover {
    background-color: rgb(0, 210, 252);
}

.hidden-button {
    visibility: hidden;
}

.nav-buttons button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* phone layout */

@media (max-width: 768px) {
    .nav-buttons {
        width: 100%;
        position: sticky;
        bottom: 0;
        /* z-index: 20; */
        margin: 0;
        padding: 12px 16px calc(6px + env(safe-area-inset-bottom));
        display: flex;
        justify-content: center;
        /* align-items: flex-end; */
        align-items: center;
        box-sizing: border-box;
        gap: 10px;

        /* background-color: green; */
    }

    .nav-buttons button {
        min-width: 50%;
        /* border-radius: 10px; */
    }
}