/* ProgressBar.css */

.progress-bar {
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 40px 150px;
    border: 1px solid black;
    border-radius: 25px;
    min-height: 60px;
    overflow: hidden;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid rgb(122, 147, 168);
    background-color: white;
    color: black;
}

.tab:hover, .active-step {
    background-color: rgb(0, 210, 252);
    /* border: none; */
    color: white;
    cursor: pointer;

}

.progress-bar button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    filter: grayscale(0.2)
}